<!doctype html>

<html lang="en" ng-app="calcApp">
<head>
  <meta charset="UTF-8">
  <title>Operation</title>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <!--<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js"></script>-->
  <script type="text/javascript">angular.module('calcApp', []);</script>
          <!-- 'ngRoute'  .config(function ($locationProvider) {$locationProvider.html5Mode(false);});-->
  <script type="text/javascript" src="static/calculateController.js"></script>
</head>
<!--app/js/modules/-->

<body ng-controller="calculateController" ng-init="op1=1;op2=2">
  <div>
  <b>{{operation}}</b>
  <div>
    op1: <input type="number" step="1" ng-model="op1">
    op2: <input type="number" step="1" ng-model="op2">
  </div>
  <div>
    {% raw %}
      result: <label type="number">{{ result(op1, op2) }}</label>
    {% endraw %}
  </div>
</div>
</body>
</html>
